agm-map {
  height: 100vh;
  width: 100%;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff!important;
  text-decoration: none;
  background-color: #00a4da!important;
}


.gm-style{
  box-shadow: 0 2px 7px 13px rgb(0 0 0 / 8%)!important;
}