<!-- Blog Start -->
    <section class="light-bg">
<div class="container-fluid">
    <div class="row">
            <div class="col-md-6 padding-0">
                <div class="home_content left-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fixed">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <i class="fas fa-arrow-left"></i>
                                </li>
                            </ul>
                            <div class="">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="dark-btn-small"><i
                                            class="fas fa-share"></i>&nbsp;&nbsp;Share</button>
                                    <div class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"><i
                                                class="fas fa-ellipsis-h"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#"><i class="fas fa-cog"></i>&nbsp;Trip
                                                Setting</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-question"></i>&nbsp;FAQ</a>
                                            <a class="dropdown-item" href="#"><i class="fas fa-print"></i>&nbsp;Print
                                                this Trip</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="page-section  padding-0">
                        <section class="sec-space-top pb-5 height100vh">
                            <div class="page-section container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h4>48 Hours in Delhi: The Perfect Itinerary</h4>
                                        <button type="button" class="btn btn-explore">Read more on
                                            tripsavvy.com</button>
                                    </div>
                                </div>
                                <div class="row pt-30">
                                    <div class="col-md-1 col-lg-1">
                                        <i class='fas fa-map-marker-alt map-icons'></i>
                                    </div>
                                    <div class="col-md-8 col-lg-8 padding-0">
                                        <span class="explore-text">Qutub Minar</span>
                                        <div class="mtt-5">
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Monument</span>
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Points
                                                of Interest &amp; Landmarks</span>
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Sights
                                                &amp; Landmarks</span>
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Historical
                                                place</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3" align="right">
                                        <div class="dropdown">
                                            <button class="dark-btn-small dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="fas fa-bookmark"></i>&nbsp;&nbsp;Add to Trip
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ptb-10">
                                        <div class="col-md-1 col-lg-1">
                                        </div>
                                        <div class="col-md-10 col-lg-10">
                                            <img src="https://itin-dev.sfo2.cdn.digitaloceanspaces.com/freeImageSmall/HnlqskQcEspfQtVs3kDlhzQp1KbtU8rA"
                                                class="explore-img">
                                            <div class="exploreplace-text">
                                                <p>7 a.m.: Rise and shine early, and art the day with a refreshing walk
                                                    in Lodhi Gardens (Lodh art the day with a refreshing walk in Lodhi
                                                    Gardens (Lodh start the day with a refreshing walk in Lodhi Gardens
                                                    (Lodhi Road, New Delhi). As well as being a favorite morning
                                                    destination of Delhi's local residents, Lodhi Gardens is home to a
                                                    number of monuments, including tombs of 15th and 16th-century
                                                    rulers. The gardens were built around them by the British in 1936.
                                                    (Entry fee: Free for all).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 padding-0 travel-map">
            <!-- <agm-map>
				<agm-marker (mapReady)="mapReadyHandler($event)" [latitude]="lat" [longitude]="lng"></agm-marker>
			</agm-map> -->
            <div class="map-card">
                <div class="alert alert-light alert-dismissible fade show" role="alert">
                    <div class="col-md-12">
                        <h6 class="font-weight-900"><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Charminar</h6>
                        <div><span>Iconic 16th-century mosque with 4 grand arches, 48m tall minarets and views over the
                                Laad Bazaar.</span></div>
                        <div class="mtt-5">
                            <span
                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Monument</span>
                            <span class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Points of
                                Interest &amp; Landmarks</span>
                            <span class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Sights
                                &amp; Landmarks</span>
                            <span
                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Historical
                                place</span>
                        </div>
                        <div class="mtt-5">
                            <span class="text-warning"><i class="fas fa-star"></i>&nbsp; 4.5</span>
                        </div>
                        <div class="mtt-5">
                            <span class="text-secondary"><i
                                    class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;<span>Charminar Rd, Char Kaman, Ghansi
                                    Bazaar, Hyderabad, Telangana 500002, India</span></span>
                        </div>
                        <div class="mtt-5">
                            <span class="text-secondary"><i class="far fa-clock"></i>&nbsp;&nbsp; Tuesday: 9AM –
                                5:30PM</span>
                        </div>
                        <div class="mtt-5">
                            <span class="text-secondary"><i class="fas fa-hourglass-half"></i>&nbsp;&nbsp; People
                                typically spend 20 min here</span>
                        </div>
                        <div class="mtt-5">
                            <span class="text-secondary"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;<a href=""
                                    class="text-web">+91 40 6674 5986</a></span>
                        </div>
                        <div class="mtt-5">
                            <span class="text-secondary"><i class="fas fa-globe-americas"></i>&nbsp;&nbsp; <a href=""
                                    class="text-web">www.almostindia.com</a></span>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog Ends -->